{
  "swagger": "2.0",
  "info": {
    "description": "This is the swagger definition of the weather forecast API. For more info contact sdimopoulos@irisweb.gr",
    "version": "1.0.0",
    "title": "Weather Forecast API",
    "termsOfService": "http://forecast.irisweb.gr/terms/",
    "contact": {
      "email": "sdimopoulos@irisweb.gr"
    },
    "license": {
      "name": "Proprietary",
      "url": "http://forecast.irisweb.gr/license/"
    }
  },
  "host": "forecast-api.irisweb.gr",
  "basePath": "/v1",
  "tags": [
    {
      "name": "city",
      "description": "Current and forecasted weather by city"
    },
    {
      "name": "area",
      "description": "Areal weather info"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/city": {
      "get": {
        "tags": [
          "city"
        ],
        "summary": "Get a list of all cities",
        "description": "Returns all available city forecasts",
        "operationId": "getAllCityInfo",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success getting response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/City"
              }
            }
          },
          "400": {
            "description": "Client error"
          },
          "404": {
            "description": "City ID not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/city/{cityId}": {
      "get": {
        "tags": [
          "city"
        ],
        "summary": "Find city by ID",
        "description": "Returns a city's weather info",
        "operationId": "getCityInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cityId",
            "in": "path",
            "description": "ID of city to return",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "success getting response",
            "schema": {
              "$ref": "#/definitions/City"
            }
          },
          "400": {
            "description": "Client error"
          },
          "404": {
            "description": "City ID not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "header"
    }
  },
  "definitions": {
    "ForecastInfo": {
      "type": "object",
      "properties": {
        "overall": {
          "description": "Hourly overall forecast condition icon Id",
          "type": "array",
          "items": {
            "type": "string",
            "example": "sunny"
          }
        },
        "temperature": {
          "type": "object",
          "properties": {
            "hourly_graph_url": {
              "type": "string",
              "description": "Url of temperature forecast graph",
              "example": "temperature_{cityid}.png"
            },
            "hourly_forecast": {
              "type": "array",
              "items": {
                "type": "number",
                "description": "Hourly forecast",
                "example": 21.4
              }
            }
          }
        },
        "humidity": {
          "type": "object",
          "properties": {
            "hourly_graph_url": {
              "type": "string",
              "description": "Url of humidity forecast graph",
              "example": "humidity_{cityid}.png"
            },
            "hourly_forecast": {
              "type": "array",
              "items": {
                "type": "number",
                "description": "Hourly forecast",
                "example": 21.4
              }
            }
          }
        },
        "pressure": {
          "type": "object",
          "properties": {
            "hourly_graph_url": {
              "type": "string",
              "description": "Url of pressure forecast graph",
              "example": "pressure_{cityid}.png"
            },
            "hourly_forecast": {
              "type": "array",
              "items": {
                "type": "number",
                "description": "Hourly forecast",
                "example": 21.4
              }
            }
          }
        }
      }
    },
    "City": {
      "type": "object",
      "required": [
        "name",
        "coords",
        "currWeatherIconId",
        "foreCastInfo"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "coords": {
          "type": "object",
          "required": [
            "lat",
            "lon"
          ],
          "properties": {
            "lat": {
              "type": "number"
            },
            "lon": {
              "type": "number"
            }
          }
        },
        "name": {
          "type": "string",
          "example": "Athens"
        },
        "currWeatherIconId": {
          "type": "string",
          "example": "sunny"
        },
        "forecastInfo": {
          "$ref": "#/definitions/ForecastInfo"
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}